.button {
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1rem;
    padding: 12px 24px;
    background: var(--color-primary);
    color: white;
}

.button:hover {
    filter: brightness(120%);
}

.button-accent {
    background: linear-gradient(120deg, var(--color-secondary), var(--color-primary));
}

.button-outline {
    background: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

